.container {
    padding: 0.5em;
    display: grid;
    height: 300vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2fr repeat(5, 1fr);
    grid-template-areas:
        "introduction avatar"
        "content1 content1"
        "content2 content2"
        "content3 content3"
        "content4 content4"
        "content5 content5";
    grid-gap:0.5em;
}

#introduction {
    background-color: #d4e8ff;
    grid-area:introduction;
}

#avatar {
    background-color: #c7d7ff;
    grid-area:avatar;
}

#content1 {
    background-color: #b5c0ff;
    grid-area:content1;
}

#content2 {
    background-color: #acabff;
    grid-area: content2;
}

#content3 {
    background-color: #b6a3ff;
    grid-area: content3;
}

#content4 {
    background-color: #c5a3ff;
    grid-area: content4;
}

#content5 {
    background-color: #d6a3ff;
    grid-area: content5;
}

@media only screen and (max-width: 500px) {
    .container {
        padding: 0.5em;
        display: grid;
        height: 300vh;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr repeat(5, 1fr);
        grid-template-areas:
            "introduction"
            "avatar"
            "content1"
            "content2"
            "content3"
            "content4"
            "content5";
        grid-gap: 0.5em;
    }
}